* {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.logo img {
    width: 200px;
    display: block;
}

select {
    width: 200px;
    text-align: right;
}

.seleccion {
    margin-top: 150px;
    text-align: right; 
    display: block;
}

.header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

#productos {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    background-color: rgb(230, 226, 208);
}


h1 {
    text-align: center;
    padding: 10px;
    background-color: rgb(190, 0, 0); 
}

.contenedorCarrito {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cardCarrito {
    width: 600px;
    height: 200px;
}


footer button {
    margin: 20px;
    width: 50px;
    height: 50px;
}

footer {
    display: block;
    text-align: center;
    background-color: rgb(167, 39, 0);  
}

.contenedorSeleccion a {
    display: block;
    text-align: center;
}

.precioProducto {
    display: block;
    text-align: center;
}

#botonCarrito {
    width: 80px;
    height: 80px;
    font-size: 30px;
    border: none;
}

.contenedorSeleccion {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.card {
    width: 250px;
    height: 550px;  
}
